body {
    margin-top: 100px;
    text-align: center;
}

nav {
    text-align: left;
}

#icon {
    width: 50%;
    max-width: 400px;
    height: auto;
}

#priv {
    position: relative;
    top: 10px;
}

.appDesc {
    position: relative;
    display: block;
    text-align: center;
    padding-left: 5pc;
    padding-right: 5pc;
    /* margin: 2pc; */
}

/* .appDesc p {
    text-align: left;
} */