#logo {
    text-align: left;
    /* font-size: xx-large; */
}

#welcome {
    height: fit-content;
    position: relative;
    text-align: center;
    font-size: 80px;
    display: flex;
    align-items: center;
}

#welcome img {
    height: 600px;
    width: 100%;
    position: relative;
    object-fit: cover;
    padding: 0px;
}

#welcome b {
    z-index: 9000;
    position: absolute;
    top: 250px;
    width: 100%;
}

#name {
    font-weight: 100;
    font-size: 50px;
    /* font-size: 3vw; */
    /* background-color: red; */
    margin-top: 0;
}

#profilepic {
    top: 15px;
    position: absolute;
    display: inline-block;
    width: 15%;
    max-width: 270px;
    min-width: 200px;
    margin-right: 20px;
    bottom: 700px;
    /* background-color: saddlebrown; */
    /* margin-top: 0; */
    padding-top: 0;
    /* margin: 0 auto; */
    /* margin-left: 20%; */
}

#aboutsection {
    display: block;
    text-align: center;
    /* background-color: slateblue; */
    position: relative;
}

#summary {
    /* background-color: seagreen; */
    /* width: 20%; */
    width: 300px;
    height: fit-content;
    display: inline-block;
    text-align: left;
    margin-right: 5%;
    /* margin-left: 330px; */
    margin-left: 18%;
    bottom: 70px;
    position: relative;
}

#textwall {
    /* background-color: rosybrown; */
    width: 25%;
    height: 100%;
    display: inline-block;
    text-align: left;
    /* margin-left: 5%; */
    margin-top: 0 auto;
    padding: auto;
    /* top: 10px; */
    position: static;
    min-width: 300px;
    max-width: 600px;
}

#textwall p {
    /* font-size: 1.0vw; */
    font-size: large;
    max-inline-size: 100%;
}

@media screen and (max-width: 900px) { /*tablet view*/ 
    #name {
        font-size: 40px;
    }

    #profilepic {
        left: 10%;
    }

    #textwall {
        width: 80%;
    }

    #summary {
        top: 15px;
        margin-left: 35%;
    }
}

@media screen and (max-width: 600px) { /*phone view*/ 
    nav a {
        font-size: smaller;
    }
    
    #textwall {
        font-size: smaller;
    }

    #summary {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #summary a {
        margin-left: 25%;
        /* margin: 0 auto; */
    }

    #profilepic {
        margin: 0;
        width: 400px;
        position: static;
    }
}

#contactbtn, #cvbtn {
    text-align: center;
    display: block;
    width: 34%;
}

#textLink {
    text-decoration: underline;
    color: snow;
}

.showcase {
    text-align: center;
    padding: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
}

.app {
    display: inline-block;
    width: 450px;
    text-align: center;
    font-size: xx-large;
    float: none;
}

.app a {
    font-weight: 100;
    color: snow;
}