body {
    margin-top: 100px;
    height: 0.8vh;
}

h1 {
    margin-bottom: 80px;
}

center {
    margin-bottom: 80px;
}

a {
    display: block;
    margin: 30px;
    height: 40px;
    text-align: center;
    max-width: 500px;
    font-size: large;
}

a b {
    position: relative;
    top: 10px;
    /* font-weight: 400; */
}