#logo {
    text-align: left;
    /* font-size: xx-large; */
}

#welcome {
    height: fit-content;
    position: relative;
    text-align: center;
    font-size: 80px;
    display: flex;
    align-items: center;
}
#welcome img {
    height: 600px;
    width: 100%;
    position: relative;
    object-fit: cover;
    padding: 0px;
    background-position: 20px;
}

#welcome b {
    z-index: 9000;
    position: absolute;
    top: 250px;
    width: 100%;
}

#name {
    font-weight: 100;
    font-size: 50px;
    /* font-size: 3vw; */
    /* background-color: seashell; */
    margin-top: 0;
}

#profilepic {
    top: 15px;
    position: absolute;
    display: inline-block;
    width: 15%;
    max-width: 270px;
    margin-right: 20px;
    bottom: 700px;
    /* background-color: saddlebrown; */
    /* margin-top: 0; */
    padding-top: 0;
    margin: 0 auto;
}

#aboutsection {
    display: block;
    text-align: center;
    /* background-color: slateblue; */
    position: relative;
}

#summary {
    /* background-color: seagreen; */
    width: 20%;
    height: fit-content;
    display: inline-block;
    text-align: left;
    margin-right: 5%;
    /* margin-left: 330px; */
    margin-left: 18%;
    bottom: 70px;
    position: relative;
}

#textwall {
    /* background-color: rosybrown; */
    width: 25%;
    height: 100%;
    display: inline-block;
    text-align: left;
    /* margin-left: 5%; */
    margin-top: 0 auto;
    padding: auto;
    /* top: 10px; */
    position: static;
}

#textwall p {
    /* font-size: 1.0vw; */
    font-size: large;
    max-inline-size: 100%;
}

#cvbtn {
    display: block;
    width: 40%;
}

#contactbtn {
    text-align: center;
    display: block;
    width: 34%;
}

#textLink {
    text-decoration: underline;
}

#imgButton:visited {
    opacity: 1;
}

#imgButton:link {
    opacity: 1;
}

#imgButton:hover {
    opacity: 0.5;
}

#imgButton:active {
    opacity: 0.3;
}

.showcase {
    text-align: center;
    padding: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    width: 100%;
}

.app {
    display: inline-block;
    width: 450px;
    text-align: center;
    font-size: xx-large;
    float: none;
}

.app a {
    font-weight: 100;
}